*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.containerImg{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.iconecontainer{
    width: calc(100% / 5);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    margin-top: 2rem;
    
}
.icona{
    padding: 2rem 3.2rem;
    width: 80%;
    border: solid 1px black;
    border-radius: 10px;
    box-shadow: 1px 1px gainsboro;
    text-align: center;
}
.icona i{
    font-size: 3rem;
}